.home-container {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  background: #f2f0ec;
}
.home-text {
  padding-left: 2.5rem;
}

.maskImage {
  -webkit-mask-image: url("../../assets/pngegg.png");
  mask-image: url("../../assets/pngegg.png");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
}

.partner-box {
  position: relative;
  top: -2rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-partner-box {
  border-radius: 16px;
  background: #1f253b;
  color: white;
}

.des-wrapper {
  margin-bottom: 10rem;
}

.footer-section {
  margin-top: 7rem;
}

@media screen and (max-width: 576px) {
  .maskImage {
    display: none;
  }

  .home-text {
    padding: 0;
  }
  .des-cards {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .partner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .partner-box {
    position: static;
    margin: 4rem !important;
  }
}
