.donateArea-container {
  position: relative;
  margin-top: 9rem;
  margin-bottom: 9rem;
  width: 100%;
  height: 80vh;
}


.bg-donateArea {
  background-image: url("../../assets/happy-volunteers-putting-their-hands-together\ 1.jpg");

  height: 100%;
  width: 100%;

  filter: brightness(40%);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
}




