.des-container{
    position: relative;
}

.bg-des{
    position: absolute;
    background-color: black;
    width: 100%;
    height:67%;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .bg-des{
        height: 80%;
    }
  }

  
@media screen and (max-width: 576px) {
    .bg-des{
        height: 100%;
    }
  }
  

