body {
  margin: 0;
  font-family: "Poppins", sans-serif !important ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.bg-red {
  background-color: rgb(245, 69, 69) !important;
}

.font-1 {
  font-size: .85rem;
}
